<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cellular Automata</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="image">/image</a></li>
      <li><a href="text">/text</a></li>
    </ul>
    <!--
    <p>paramters:</p>
    <table>
      <th>
      <td>parameter name</td>
      <td>description</td>
      </th>
      <tr>
        <td>w</td>
        <td>width in pixels</td>
      </tr>
      <table>
        <tr>
          <td>h</td>
          <td>height in pixels</td>
        </tr>
      </table>
    -->
  </nav>

</body>

</html>
